html, body{
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}
#inicio{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    position: relative;
    margin: 10px;
    flex-direction: column;
}
h1, h2 {
    margin: auto;
}
#start {
    margin: 15px auto;
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	cursor:pointer;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
    color: black;
}
#start:hover {
	background-color:#5cbf2a;
}
#start:active {
	position:relative;
	top:1px;
}
#grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
}
svg{
    width: 95%;
    height: auto;
    margin: auto;
}